{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <h1 class="title has-text-black">Connexion</h1>
                    {% if error %}
                        <div class="notification is-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <form method="post" action="{{ path('app_login') }}">
                        <div class="field">
                            <label class="label has-text-black" for="username">Adresse email:</label>
                            <div class="control">
                                <input class="input" type="text" id="username" name="email" value="{{ last_username }}" required autofocus>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-black" for="password">Mot de passe:</label>
                            <div class="control">
                                <input class="input" type="password" id="password" name="password" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" type="submit">Connexion</button>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
