<?xml version="1.0"?>
<ruleset name="FOODOMARKET">
    <description>FOODOMARKET code styling rules adapted from PSR-12.</description>
    <rule ref="PSR12">
        <exclude name="PSR12.Classes.AnonClassDeclaration.SpaceAfterKeyword" />
        <exclude name="PSR12.ControlStructures.ControlStructureSpacing.CloseParenthesisLine" />
        <exclude name="PSR12.ControlStructures.ControlStructureSpacing.FirstExpressionLine" />
        <exclude name="PSR12.Files.FileHeader.IncorrectGrouping" />
        <exclude name="PSR12.Operators.OperatorSpacing.NoSpaceBefore" />
        <exclude name="PSR12.Operators.OperatorSpacing.NoSpaceAfter" />
        <exclude name="PSR12.Traits.UseDeclaration.NoBlankLineAfterUse" />
        <exclude name="Squiz.WhiteSpace.CastSpacing" />
        <exclude name="Squiz.WhiteSpace.ControlStructureSpacing" />
        <exclude name="Squiz.Functions.MultiLineFunctionDeclaration.EmptyLine" />
        <exclude name="Squiz.Functions.MultiLineFunctionDeclaration.OneParamPerLine" />
    </rule>
    <rule ref="Generic.Files.LineLength">
        <severity>0</severity>
    </rule>
</ruleset>
