<footer class="footer">
    <div class="container mt-4">
        <div class="columns">
            <div class="column">
                <h5>Liens Utiles</h5>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Catalogue de Produits</a></li>
                    <li><a href="#">Contactez-nous</a></li>
                </ul>
            </div>
            <div class="column">
                <h5>Contactez-nous</h5>
                <p>Adresse: 123 Rue Principale, Paris, France</p>
                <p>Téléphone: +1234567890</p>
                <p>Email: info@votreFoodoMarket.com</p>
            </div>
            <div class="column">
                <h5>À Propos de Nous</h5>
                <p>Votre FoodoMarket est une plateforme en ligne dédiée à la restauration, offrant une large gamme de produits frais de qualité provenant de fournisseurs de confiance.</p>
            </div>
        </div>
        <div class="columns mt-6">
            <div class="column is-offset-3 is-6 has-text-centered">
                <p>&copy; 2024 Votre FoodoMarket. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>
