{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block body %}
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1 has-text-white">Bienvenue sur FoodoMarket</h1>
                <h2 class="subtitle is-3 has-text-white">La meilleure destination pour des produits de qualité.</h2>
                <a href="#" class="button is-light is-large">Découvrez nos produits</a>
            </div>
        </div>
    </section>
{% endblock %}
