@import "~@fortawesome/fontawesome-free/css/all.min.css";


@import "~bulma";

body {
    background-color: deeppink;
}

//Navbar

.search-text{
  width: 400px;
}
.fa-search {
  padding-top: 5px;
}

.notification {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.notification.is-success {
  background-color: #72e8c4;
  color: #4d4b4b;
}

.notification.is-hidden {
  display: none;
}
