@import "~@fortawesome/fontawesome-free/css/all.min.css";


@import "~bulma";

body {
  background-color: #efeeee;
  margin: 0;
}

.footer {
  bottom: 0;
}

//Navbar

.search-text{
  width: 400px;
}
.fa-search {
  padding-top: 5px;
}

.notification {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.notification.is-success {
  background-color: #72e8c4;
  color: #4d4b4b;
}

.notification.is-hidden {
  display: none;
}

.card-content.price {
  border-radius: 30px;
}

// Interface Import Mercurial
.interface-import {
  height: 70vh;
}

.selected-files {
  margin: 25px;
  padding: 10px;
}

.selected-files p {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
}

.label-space {
  padding-top: 5px;
  margin-right: 20px;
}
